<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singWithMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href="css/style.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AADzzwAA48cAAMPDAADDwwAAw8MAAOPHAAD73wAA+98AANvbAACL0QAArDsAAP//AAD//wAA" rel="icon" type="image/x-icon">

</head>
<body>
    {{>nav}}
    <div class="top-12">
    <div class="audio-player top-12">
        <i class="fa-solid fa-xmark" id="x"></i> 
        <h1>All is Well</h1>
        <h2>Arjit Singh</h2>
        <audio src="music/all-is-well.mp3" id="music"></audio>
        <div class="img"><img src="img/ab2.jpg" alt="" id="img" class="nr"></div>
        <div class="control">
            <i class="fa-solid fa-backward" title="prev"></i> 
            <i class="fa-solid fa-play" title="play" id="play"></i>
            <i class="fa-solid fa-forward" title="next"></i> 
        </div>
    </div>
    </div>
    {{>footer}}

    <script>
        let player = document.getElementsByClassName('audio-player');
        let play = document.getElementById('play');
        let x = document.getElementById('x');
        let music = document.getElementById('music');
        let img = document.getElementById('img');


        play.addEventListener('click' , (e) => {            
            if(music.paused) {
                music.play();
                play.classList.replace('fa-play' , 'fa-pause');
                img.classList.replace('nr' , 'rotate');
            }
            else {
                music.pause();
                play.classList.replace('fa-pause' , 'fa-play');
                img.classList.replace('rotate' , 'nr');
            }
        })

        
        x.addEventListener('click' , err => {
            player[0].style.display = 'none';
        });
    </script>
</body>
</html>