<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singWithMe</title>
</head>
<body>
    {{>nav}}
    <div class="top-12">
        <h1>It's a contact page using hbs</h1>
    </div>
    {{>footer}}
</body>
</html>