<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singWithMe</title>
    {{!-- <link rel="icon" href="img/favicon-32x32.png"> --}}
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AADzzwAA48cAAMPDAADDwwAAw8MAAOPHAAD73wAA+98AANvbAACL0QAArDsAAP//AAD//wAA" rel="icon" type="image/x-icon">
    
</head>
<body>
    {{>nav}}
    
    <div class="music-cant top-12">
        <div class="music-box">
            <audio class="audio" src='music/all-is-well.mp3' id="01" ></audio>            
            <div class="music">
                <h3>All is well....</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="01"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio" src='music/yaad-aa-rhi-hai.mp3' id="02" ></audio> 
            <div class="music">
                <h3>yaad aa rhi hai teri yaad aa rhi hai...</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="02" ></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio"  src='music/tu-cheez-bdi-hai-mast.mp3' id="03" ></audio> 
            <div class="music">
                <h3>Tu cheez vdi hai mast mast....</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="03"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio" src='music/om-shanti-om.mp3' id="04" > </audio> 
            <div class="music">
                <h3>Om shanti Om...</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="04"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio"  src='music/peele-peele.mp3' id="05" ></audio> 
            <div class="music">
                <h3>Peele peele o meri jaani...</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="05"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio"  src='music/meri-jindgi-me-aana.mp3' id="06" ></audio> 
            <div class="music">
                <h3>meri jidgi me aana....</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="06"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
             </div>
        </div>
        <div class="music-box">
            <audio class="audio" src='music/log=kehte-hain.mp3' id="07" ></audio> 
            <div class="music">
                <h3>Lo kehte hai mai sarabi hun...</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="07"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio" src='music/kehdun-tumhe.mp3' id="08" ></audio> 
            <div class="music">
                <h3>Keh du tumhe ya chup rhun...</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="08"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio" src='music/kamata-hum.mp3' id="09" ></audio> 
            <div class="music">
                <h3>kamata hun bahut pr kamai...</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="09"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
        <div class="music-box">
            <audio class="audio" src='music/hey-ram.mp3' id="10" ></audio> 
            <div class="music">
                <h3>Hey raam...</h3>
                <div class="control-cant">  
                    <i class="fa-solid fa-backward mr-10" title="play"></i> 
                    <i class="fa-solid fa-play mr-10" title="10"></i> 
                    <i class="fa-solid fa-forward mr-10" title="play"></i> 
                </div>
            </div>
        </div>
    </div>
        
    {{>footer}}



    <script>
        let button = document.querySelectorAll('.control-cant .fa-play');
        button.forEach(box => {
            
            box.addEventListener('click', e => {
                let id = e.target.title;
                let audio = document.getElementById(id);
                console.log(audio.src)
                if(audio.paused) {
                    audio.play();
                    e.target.classList.replace('fa-play' , 'fa-pause');
                }
                else {                        
                    audio.pause();
                    e.target.classList.replace('fa-pause' , 'fa-play');
                }
                
            });
        });
    </script>
</body>
</html>