<!DOCTYPE html>
<html lang="en">
<head>
        
</head>
<body>
    <footer class="foot-cant">
        <div class="foot1">
            <div class="foot-box">
                <h1 class="nav-head" id="foo1"><i class="fa-solid fa-headphones"></i> singWithMe <i class="fa-solid fa-music"></i></h1>
                <div class="foot-box-tag">
                    <a href="/" class="social-media"><i class="fa-brands fa-facebook" id="face"></i></a>
                    <a href="https://www.google.com/" class="social-media"><i class="fa-brands fa-instagram" id="insta"></i></a>
                    <a href="/" class="social-media"><i class="fa-brands fa-twitter" id="twit"></i></a>
                </div>
            </div>

            <div class="foot-player">
                <audio class="audio" src='music/hey-ram.mp3' id="11" ></audio>
                <p>Bella ciao...</p>
                <div class="time-line">
                    <input type="range" min="0" max="100"/>
                    
                    <div class="control-cant">  
                        <i class="fa-solid fa-backward mr-10" title="play"></i> 
                        <i class="fa-solid fa-play mr-10" title="11"></i> 
                        <i class="fa-solid fa-forward mr-10" title="play"></i> 
                    </div>
                </div>
            </div>

            <div class="foot-box">
                <h1 class="nav-head" id="foo1"><i class="fa-solid fa-headphones"></i> singWithMe <i class="fa-solid fa-music"></i></h1>
                <div class="foot-box-tag">
                    <a href="/" class="social-media"><i class="fa-brands fa-facebook" id="face"></i></a>
                    <a href="https://www.google.com/" class="social-media"><i class="fa-brands fa-instagram" id="insta"></i></a>
                    <a href="/" class="social-media"><i class="fa-brands fa-twitter" id="twit"></i></a>
                </div>
            </div>
            
        </div>
        
    </footer>
</body>
</html>