<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <title>singWithMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header class="nav-cant">
      <div class="left-nav">     
        <h1 class="nav-head">
          <i class="fa-solid fa-headphones"></i> singWithMe <i class="fa-solid fa-music"></i>
          </h1>   
      </div>
      <div class="right-nav">
        {{!-- <div class="nav-box">
          <a href="/" class="nav-tag">Home</a>
        </div> --}}
        {{!-- <div class="nav-box">
          <a href="/" class="nav-tag">Home</a>
        </div>
        <div class="nav-box">
          <a href="/about" class="nav-tag">Arjit Singh</a>
        </div> --}}
        <div class="nav-box" >
          <a href="/about" class="nav-tag" id="sign-up">sign up</a>
        </div>
        <div class="nav-box"  >
          <a href="/mail" class="nav-tag" id="sign-in">sign in</a>
        </div>
      </div>
    </header>

  </body>
</html>