@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }/* tailwind.css */

  .bg-conic-gradient {
    background: conic-gradient(#ff0000, rgb(159, 206, 2), #0000ff , #ff0000);
  }

  .bg-card-gradient {
    background: linear-gradient(to bottom, rgb(2, 36, 87), #140140, rgb(2, 17, 49));    
  }
  .playing-music {  
    background-color: rgb(5, 5, 162);
    color: white;
    /* animation: playing-music infinite linear;
    animation-duration: 4s;
    animation-delay: 0; */
  }

  @keyframes playing-music {
    from {
      background: conic-gradient(transparent , violet, pink , #ff0000, transparent 90%);  
    } to {
      background: conic-gradient(transparent 80%, #ff0000);  
    }
  }
}
